<div class="table-responsive global_table_content">
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-header">
                <th colspan="11">{{ Equipements | uppercase }}</th>
            </tr>
        </thead>
        <thead>
            <tr class="table-header-title">
                <th>Equip.</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>N° de Série</th>
                <th>Us.</th>
                <th>Catégorie</th>
                <th>Max.</th>
                <th>Type</th>
                <th>Ech. VP</th>
                <th>Ech. RP</th>
                <th>Cla.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>103429135</td>
                <td>BIZERBA</td>
                <td>CE-CAMERA</td>
                <td>SerialNumber</td>
                <td>ML</td>
                <td>IPFNA</td>
                <td>15 000g</td>
                <td>None</td>
                <td>None</td>
                <td>None</td>
                <td>III</td>
            </tr>
            <tr>
                <td>103429135</td>
                <td>BIZERBA</td>
                <td>CE-CAMERA</td>
                <td>SerialNumber</td>
                <td>ML</td>
                <td>IPFNA</td>
                <td>15 000g</td>
                <td>None</td>
                <td>None</td>
                <td>None</td>
                <td>III</td>
            </tr>
            <tr>
                <td>103429135</td>
                <td>BIZERBA</td>
                <td>CE-CAMERA</td>
                <td>SerialNumber</td>
                <td>ML</td>
                <td>IPFNA</td>
                <td>15 000g</td>
                <td>None</td>
                <td>None</td>
                <td>None</td>
                <td>III</td>
            </tr>
            <tr>
                <td>103429135</td>
                <td>BIZERBA</td>
                <td>CE-CAMERA</td>
                <td>SerialNumber</td>
                <td>ML</td>
                <td>IPFNA</td>
                <td>15 000g</td>
                <td>None</td>
                <td>None</td>
                <td>None</td>
                <td>III</td>
            </tr>
            <tr>
                <td>103429135</td>
                <td>BIZERBA</td>
                <td>CE-CAMERA</td>
                <td>SerialNumber</td>
                <td>ML</td>
                <td>IPFNA</td>
                <td>15 000g</td>
                <td>None</td>
                <td>None</td>
                <td>None</td>
                <td>III</td>
            </tr>
            <tr>
                <td>103429135</td>
                <td>BIZERBA</td>
                <td>CE-CAMERA</td>
                <td>SerialNumber</td>
                <td>ML</td>
                <td>IPFNA</td>
                <td>15 000g</td>
                <td>None</td>
                <td>None</td>
                <td>None</td>
                <td>III</td>
            </tr>
        </tbody>
    </table>
</div>

