<!--Header Data-->
<div class="infoHalf">
    <span class="infoLabel">
        Order Status
    </span>

    <span class="infoTxt">
        {{order.Status}}
        <!--<span ng-if="!order.Status">none</span>-->
    </span>

    <span class="infoLabel">
        Order Created By
    </span>

    <span class="infoTxt">

    </span>

    <span class="infoLabel">
        Order Description
    </span>

    <span class="infoTxt">

    </span>

    <span class="infoLabel">
        Order Priority
    </span>

    <span class="infoTxt">

    </span>

    <span class="infoLabel">
        Order Start
    </span>

    <span class="infoTxt">

    </span>

    <span class="infoLabel">
        Order End
    </span>

    <span class="infoTxt">

    </span>
</div>
