<!--Header Data-->
<div class="table-responsive col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-6 col-md-6 col-sm-12 global_table_content">
    <table class="table table-information">
        <thead>
            <tr class="table-header">
                <th colspan="2">Informations</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Order Status :</td>
                <td>{{ order.Status }}</td>
            </tr>
            <tr>
                <td>Order Created By :</td>
                <td>{{ order.CreatedBy }}</td>
            </tr>
            <tr>
                <td>Order Description :</td>
                <td>{{ order.Description }}</td>
            </tr>
            <tr>
                <td>Order Priority :</td>
                <td>{{ order.PriorityNr }}</td>
            </tr>
            <tr>
                <td>Order Date Start :</td>
                <td>{{ order.StartDate | dateFilter }}</td>
            </tr>
            <tr>
                <td>Order Date End :</td>
                <td>{{ order.FinishDate | dateFilter }}</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 global_table_content">
    <table class="table table-customer">
        <thead>
            <tr class="table-header">
                <th colspan="2">Customer</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Customer Name :</td>
                <td>{{order.Customer.Name}}</td>
            </tr>
            <tr>
                <td>Customer Number :</td>
                <td>{{order.Customer.Number}}</td>
            </tr>
            <tr>
                <td>Customer Address :</td>
                <td>{{order.Customer.Street}}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ order.Customer.PostalCode }} {{ order.Customer.City }} </td>
            </tr>
            <tr>
                <td></td>
                <td>{{ order.Customer.Country }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>



<!--<div class="infoHalf">
    <span class="infoLabel">
        Order Status
    </span>

    <span class="infoTxt">
        {{order.Status}}
        <span ng-if="!order.Status">none</span>
    </span>

    <span class="infoLabel">
        Order Created By
    </span>

    <span class="infoTxt">
        {{order.CreatedBy}}
        <span ng-if="!order.CreatedBy">none</span>
    </span>

    <span class="infoLabel">
        Order Description
    </span>

    <span class="infoTxt">
        {{order.Description}}
        <span ng-if="!order.Description">none</span>
    </span>

    <span class="infoLabel">
        Order Priority
    </span>

    <span class="infoTxt"
                ng-class=" {
                             low: order.PriorityNr === '4',
                             medium: order.PriorityNr === '3',
                             high: order.PriorityNr === '2',
                             veryHigh: order.PriorityNr === '1'
                            }">
        <span class="navFa fa fa-exclamation-triangle"></span>
        <span class="fa-priority">{{order.PriorityNr}}</span>
        <span ng-if="!order.PriorityNr">none</span>
    </span>

    <span class="infoLabel">
        Order Start
    </span>

    <span class="infoTxt">
        {{order.StartDate | dateFilter }}
        <span ng-if="!order.StartDate">none</span>
    </span>

    <span class="infoLabel">
        Order End
    </span>

    <span class="infoTxt">
        {{order.FinishDate | dateFilter }}
        <span ng-if="!order.FinishDate">none</span>
    </span>
</div>-->

<!--
<div class="infoHalf">
    <span class="infoLabel">Customer Name</span>
    <span class="infoTxt">
        <span>{{ order.Customer.Name }}</span>
        <span ng-if="!order.Customer.Name">none</span>
    </span>

    <span class="infoLabel">Customer Adress</span>
    <span class="infoTxt">
        <span>{{ order.Customer.Street }}</span>
    </span>
</div>
-->
