<!--Header Data-->
<div class="infoHalf">
    <span class="infoLabel">
        Order Status
    </span>

    <span class="infoTxt">
        {{order.Status}}
        <span ng-if="!order.Status">none</span>
    </span>

    <span class="infoLabel">
        Order Created By
    </span>

    <span class="infoTxt">
        {{order.CreatedBy}}
        <span ng-if="!order.CreatedBy">none</span>
    </span>

    <span class="infoLabel">
        Order Description
    </span>

    <span class="infoTxt">
        {{order.Description}}
        <span ng-if="!order.Description">none</span>
    </span>

    <span class="infoLabel">
        Order Priority
    </span>

    <span class="infoTxt"
                ng-class=" {
                             low: order.PriorityNr === '4',
                             medium: order.PriorityNr === '3',
                             high: order.PriorityNr === '2',
                             veryHigh: order.PriorityNr === '1'
                            }">
        <span class="navFa fa fa-exclamation-triangle"></span>
        <span class="fa-priority">{{order.PriorityNr}}</span>
        <span ng-if="!order.PriorityNr">none</span>
    </span>

    <span class="infoLabel">
        Order Start
    </span>

    <span class="infoTxt">
        {{order.StartDate | dateFilter }}
        <span ng-if="!order.StartDate">none</span>
    </span>

    <span class="infoLabel">
        Order End
    </span>

    <span class="infoTxt">
        {{order.FinishDate | dateFilter }}
        <span ng-if="!order.FinishDate">none</span>
    </span>
</div>

<div class="infoHalf">
    <span class="infoLabel">Customer Name</span>
    <span class="infoTxt">
        <span>{{ order.Customer.Name }}</span>
        <span ng-if="!order.Customer.Name">none</span>
    </span>

    <span class="infoLabel">Customer Adress</span>
    <span class="infoTxt">
        <span>{{ order.Customer.Street }}</span>
    </span>
</div>
