<div class="table-responsive global_table_content">
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-header">
                <th colspan="6">{{ Markings | uppercase }}</th>
            </tr>
        </thead>
        <thead>
            <tr class="table-header-title">
                <th>Technician</th>
                <th>Equipment</th>
                <th>Marking</th>
                <th>Serial Number</th>
                <th>Quantity</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>10342905</td>
                <td>BIZERBA</td>
                <td>SerialNumber</td>
                <td>5</td>
                <td>No</td>
            </tr>
            <tr>
                <td>John</td>
                <td>10342905</td>
                <td>BIZERBA</td>
                <td>SerialNumber</td>
                <td>5</td>
                <td>No</td>
            </tr>
            <tr>
                <td>John</td>
                <td>10342905</td>
                <td>BIZERBA</td>
                <td>SerialNumber</td>
                <td>5</td>
                <td>No</td>
            </tr>
            <tr>
                <td>John</td>
                <td>10342905</td>
                <td>BIZERBA</td>
                <td>SerialNumber</td>
                <td>5</td>
                <td>No</td>
            </tr>
        </tbody>
    </table>
</div>
