.table > thead .table-header {
    background-color: @color-background-dashboard;
    color: @color-text-tab;
}

.table > thead .table-header-title {
    background-color: @color-background-table-header;
    color: @color-text-filter;
}

.table > thead > tr > th {
    text-align: left;
}

.table > thead .table-header th {
    padding-left: 50px;
}

.table > tbody > tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.global_table_content {
    margin-top: 6%;
}

