<div class="page order-container">
    <!--Bandeau de Navigation-->
    <header>
        <div class="header-container">
            <span ng-click="goToDashboard()">
                <a class="backBtn"><span class="fa fa-angle-left"></span></a>
                Orders
            </span>
        </div>
    </header>

    <!--Corps de la Page-->
    <div class="page-view">
        <!--Priority Filter-->
        <aside class="page-nav">
            <priority-filter></priority-filter>
        </aside>
    </div>
    <section class="page-content narrow">
        <!--Filter-->
        <div class="filter">
            <!--Filter By-->
            <div class="filter-sort">
                Trier Par :
                <a class="filter-criteria">Client</a>
                <a class="filter-criteria">Date</a>
            </div>
            <!--Search Box-->
            <div class="search-wrapper">
                <input class="form-control input-lg" type="text" placeholder="Recherche..." ng-model="query"/>
            </div>
        </div>

        <!--List Order-->
        <div class="page-list order">
            <!--<div class="page-list-loader"><span class="fa fa-spinner fa-spin"></span></div> "affiche icône de chargement"-->
            <ul>
                <li ng-repeat="order in orders | filter:query | filter:priorityFilter | orderBy:sortBy track by order.Id"
                    ng-class="{
                                low:        order.PriorityNr === '4',
                                medium :    order.PriorityNr === '3',
                                high:       order.PriorityNr === '2',
                                veryHigh:   order.PriorityNr === '1'
                              }">
                    <span class="statusBar"></span>
                    <span class="navFa fa fa-exclamation-triangle"></span>

                    <div class="listInfo">
                        <div class="leftSide">
                            <span class="">{{order.Id}}</span>
                            <span class="listCustomer">{{order.Name}}</span>
                        </div>
                        <div class="rightSide">
                            <span class="listDate">{{order.StartDate}}</span>
                            <span class="listOrder">{{order.OrderNr}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
